/* Valorant-style animated button */
.valorant-button-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.valorant-button {
  width: 100%;
  max-width: 240px;
  height: 64px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #2cdbc4;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
  transition: 0.3s ease-out all;
  font-family: 'StackSansNotch-Regular', 'Stack_Sans_Notch', system-ui, sans-serif;
}

.valorant-button.white:hover > p {
  color: #ece8e1;
}

.valorant-button.white > p {
  background: #ece8e1;
  color: #0f1923;
}

.valorant-button.white > p > span.base {
  border: 1px solid transparent;
}

.valorant-button.transparent:hover > p {
  color: #ece8e1;
}

.valorant-button.transparent:hover > p > span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}

.valorant-button.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}

.valorant-button.transparent > p > span.base {
  border: 1px solid #ece8e1;
}

.valorant-button:after,
.valorant-button:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.valorant-button:before {
  right: 0;
  left: initial;
}

.valorant-button > p {
  margin: 0;
  height: 100%;
  line-height: 48px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.valorant-button > p > span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #2cdbc4;
}

.valorant-button > p > span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}

.valorant-button > p > span.bg {
  left: -5%;
  position: absolute;
  background: #2cdbc4;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}

.valorant-button > p > span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valorant-button > p > span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}

.valorant-button:hover {
  color: #ece8e1;
}

.valorant-button:hover > p > span.bg {
  width: 110%;
}

.valorant-button:hover > p > span.text:after {
  background: #ece8e1;
}

